body {
  margin: 0;
  height: 100vh;
}

/* website */

.container {
  display: flex;
  height: 100vh;
}

img {
  cursor: pointer;
}

/* CHATS */

.chatsContainer {
  background-image: radial-gradient(
    circle at center,

    hwb(30 84% 8%),
    rgb(230, 221, 210),
    rgb(225, 205, 180)
  );
  height: 100vh;
  width: 800px;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  border-radius: 10px;
  resize: horizontal;
  overflow: auto;
}

.chatsContainer .chatsTop {
  margin-bottom: 20px;
}

.chatsTop h1 {
  color: black;
  font-size: 5vh;
  min-width: 1vh;
  margin-bottom: 10px;
  margin-left: 20px;
}
.chatsTop input {
  margin-left: 20px;
  border-radius: 20px;
  width: 90%;
  min-width: 1vh;
  height: 4vh;
  margin-left: 1vh;
  border: none;
  background-color: gray;
  color: white;
  padding-left: 5%;
}

.chatsTop input::placeholder {
  color: hsla(0, 0%, 100%, 0.329);
}

.chatsContainer .chatsFriends {
  overflow: auto;
}

/* CHAT FRIENDLIST */
.chatsFriends .friendList {
  list-style: none;
}
.friendList li {
  background-color: rgb(182, 173, 173);
  height: 8vh;
  width: auto;
  display: flex;
  margin-left: -15px;
  margin-right: 15px;
  align-items: center;
  margin-top: 20px;
  border-radius: 15px;
}

.friendList .friendInfo {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.friendList .friendName {
  margin-left: 20px;
  font-size: 3vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.friendList .friendMsg {
  margin-left: 20px;
  font-size: 2vh;
  font-weight: 400;
  margin-top: -2vh;
  color: rgba(41, 41, 41, 0.521);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.friendList img {
  height: 100%;
}

#zaznaczony {
  background-color: rgb(131, 118, 118);
}
/* CHAT */

.chat {
  background-color: rgb(203, 174, 231);
  width: 100%;
  display: flex;
  flex-direction: column;

  border-radius: 10px;
}

.chat .chatHeader {
  background-color: rgb(240, 236, 236);

  border-radius: 10px;
  height: 12vh;
  display: flex;

  align-items: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chatHeader img {
  height: 100%;
}

.chatHeader .phoneIcon {
  height: 70%;
  margin-right: 20px;
  margin-left: auto;
}
.chatHeader .settings {
  margin-right: 20px;
  height: 80%;
}

.chatHeaderInfo {
  display: flex;
  flex-direction: column;
}
.chatHeader h1 {
  margin-left: 20px;
  font-size: 4vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chatHeader .statusFriendHeader {
  margin-left: 20px;
  font-size: 3vh;
  font-weight: 400;
  margin-top: -3vh;
  color: rgba(53, 156, 62, 0.521);
}

/* MESSAGES */
.chat .messages {
  background-color: rgb(192, 172, 172);
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}
.chat .photo {
  max-width: 64vh;
  max-height: 400px;
  margin-left: 10vh;
  border-radius: 15px;
}
.chat .yourMessage {
  word-wrap: break-word;
  word-break: break-word;
  margin-left: auto;
  max-width: 70%;
  width: auto;
  margin-right: 10px;
  margin: 4px 0 4px auto;
  width: fit-content;

  white-space: normal;
  text-overflow: ellipsis;
}

.chat .yourMessage p {
  background-color: gray;
  display: inline-block;
  text-align: left;
  width: auto;
  padding: 2vh;
  font-size: 3vh;
  border-radius: 30px;
  margin-right: 10px;
}

.chat .myPhotoChat,
#myPhotoChat {
  max-width: 40%;
  float: right;
  margin: 0;
  border-radius: 20px;
}

.chat .yourMessageImg {
  margin: 0;
  border-radius: 35px;
  background-color: gray;
  padding: 2vh;
  display: inline-block;
  margin-right: 10px;
}

.chat .friendMessage {
  word-wrap: break-word;
  word-break: break-word;
  margin-right: auto;
  max-width: 70%;
  width: auto;
  margin-right: 10px;
  margin: 4px auto 4px 0;
  width: fit-content;

  white-space: normal;
  text-overflow: ellipsis;
}

.chat .friendMessage .pfp {
  height: 7vh;
}

.chat .myPhoto {
  margin-right: 10px;
  border-radius: 20px;
  max-height: 800px;
  float: right;
  display: block;
  background-color: gray;
}

.chat #myPhoto {
  border-radius: 50px;
}

.chat .friendMessage p {
  background-color: rgb(192, 228, 172);
  display: inline-block;
  width: auto;
  padding: 2vh;
  font-size: 3vh;
  border-radius: 30px;
  max-width: 70%;
}

/* CHAT INPUT */
.chat .chatInput {
  border-radius: 10px;
  background-color: rgb(240, 236, 236);
  margin-top: auto;
  height: 10vh;
  display: flex;
  align-items: center;
}

.chatInput img {
  height: 60%;
  margin-left: 20px;
}

.chatInput .fastEmoji {
  font-size: 7vh;
  margin-left: auto;
}

.chatInput input[type="text"] {
  width: 100%;
  height: 40%;
  margin-left: 20px;
  margin-right: 10px;
  border-radius: 20px;
  border: none;
  background-color: rgb(212, 209, 209);
  font-size: 2vh;
}

.chatInput #photoInput {
  position: fixed;
  display: none;
  width: 8vh;
  height: 10vh;
  background-color: gray;
}

.chatInput #gifInput {
  position: fixed;
  width: 8vh;
  left: 40%;
  display: none;
  height: 10vh;
  background-color: gray;
}

@media only screen and (max-width: 800px) {
  .chatInput img {
    width: 8%;
    margin-left: 5px;
  }

  .chatInput input {
    margin-left: 2px;
    margin-right: 2px;
  }

  .chatInput .fastEmoji {
    font-size: 4vh;
  }
}


